chromadb==1.0.8
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==2.1
jsonref==1.1.0
keybert==0.9.0
langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.48
langchain-ollama==0.3.0
langchain-text-splitters==0.3.7
langsmith==0.3.18
latex2mathml==3.77.0
mmh3==5.1.0
monotonic==1.6
ollama==0.4.7
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-instrumentation==0.52b1
opentelemetry-instrumentation-asgi==0.52b1
opentelemetry-instrumentation-fastapi==0.52b1
opentelemetry-proto==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
opentelemetry-util-http==0.52b1
pycurl==7.45.1
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-settings==2.8.1
pyMuPDF
streamlit==1.45.0
tiktoken==0.9.0